body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.page-header{
    height: 100vh;
    background: rgba(0, 255, 179, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.page-header span{
    text-align: center;
}

.profile-thumb{
    background: url('./panda.jpg');
    background-size: cover !important;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    height: 200px;
    width: 200px;
    margin: 0 auto;
    margin-bottom: 30px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
}

.first-section{
    height: 50vh;
    display: flex;
    padding: 10vh;
    flex-wrap: wrap;
    background: rgba(231, 235, 233, 0.9);
}

.top-section{
    height: 30vh;
    padding: 10vh;
    background: rgba(231, 235, 233, 0.9);
}

.top-section span{
    text-align: center;
}

.top-section span p{
    font-size: 20px;
    word-spacing: 1.2px;
}

.col{
    flex: 1;
}

.col span{
    text-align: center;
}

.col ul li{
    margin: 10px;
    font-size: 20px;
}

.page-footer{
    height: 50vh;
    background: rgba(0, 255, 179, 0.9);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.mail{
    font-size: 30px;
    margin: 20px;
}
.mail:hover{
   font-size: 40px;
}

.inner-col{
    flex: 1;
}

@media screen and (max-width: 480px){
    .col ul li{
        margin: 5px;
        font-size: 15px;
    }

    .top-section span p{
        font-size: 15px;
        word-spacing: 1px;
    }
}